/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Apply a modern background color and font to the body */
body, html {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent scrolling */
  height: 100%;
}

/* Container styles */
.container, .home-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Header styles */
.header-section {
  margin-bottom: 30px;
}

.header-section h1 {
  text-align: center;
  font-size: 2em;
  margin-bottom: 20px;
  color: #333;
}

/* Content section with Flexbox */
.content-section {
  display: flex;
  flex-wrap: wrap; /* Allows items to wrap on smaller screens */
  gap: 20px; /* Space between the two sections */
  margin-bottom: 30px;
}

.how-it-works-section, .key-features-section {
  flex: 1; /* Each section takes equal width */
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}

@media screen and (max-width: 768px) {
  .how-it-works-section, .key-features-section {
    flex-basis: 100%; /* On small screens, take full width */
  }
}

/* Navigation styles */
.home-nav ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

.home-nav li {
  display: inline;
  margin-right: 20px;
  font-size: 1.1em;
}

.home-nav a, a {
  text-decoration: none;
  color: #007bff;
  transition: color 0.3s ease;
}

.home-nav a:hover, a:hover {
  color: #0056b3;
  text-decoration: underline;
}

/* Form styles */
form {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input, input[type="text"], input[type="email"], input[type="password"] {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

/* Button styles */
button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 4px;
  font-family: Arial, sans-serif;
  width: 100%;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}

/* Additional styles */
.App {
  text-align: center;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
  background-color: #a7a7a7;
  width: 100vh;
  height: 100vh;
}

.signup-page, .form-group {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.App-header {
  background-image: url('SALES-MAPPER_banner.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* Animation styles */
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
